var format = function(text){
    /*注意这里，因为text初始和更新会加载两次，
    但是text没有初始，只有更新，所以当没有初始的时候应该直接返回*/
    if(!text){
        return
    }
    /*把文本里面的'\\\\n'全部替换*/
    var reg = getRegExp('\\\\n','g')
    /*返回替换完之后的数据，&nbsp是空格的编码*/
    return text.replace(reg,'\n&nbsp;&nbsp;')
}

/*过滤器，array是一个数组，这个过滤器的作用是，限制数组显示条数*/
var limit = function(array, length){
    return array.slice(0, length)
}

module.exports = {
    format:format,
    limit: limit
}